<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${api.id} != null ? 'Editar API' : 'Cadastro de API'"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="https://bootswatch.com/5/cerulean/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    <div id="loadingOverlay" class="loading-overlay" style="display: none;">
        <div class="loading-spinner"></div>
        <p>Carregando... Aguarde um momento.</p>
    </div>

    <nav class="navbar bg-dark border-bottom border-body absolute-top" data-bs-theme="dark">
        <a class="navbar-brand" href="#" style="margin-left: 10px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link text-light" th:href="@{/}">Consulta de Notícias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" th:href="@{/apis/dados}">Consulta de Dados das APIs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" th:href="@{/portais}">Cadastro de Portal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" th:href="@{/apis}">Cadastro de API<span
                            class="sr-only">(atual)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" th:href="@{/tags}">Cadastro de Tag</a>
                </li>
            </ul>
        </div>
    </nav>

    <br>

    <div class="container mt-5">

        <div th:if="${mensagemSucesso}" id="alertSucesso" class="alert alert-success" role="alert">
            <p th:text="${mensagemSucesso}"></p>
        </div>
        <div th:if="${erro}" id="alertErro" class="alert alert-danger" role="alert">
            <p th:text="${erro}"></p>
        </div>

        <h4 class="mb-4 text-center" th:text="${api.id} != null ? 'Editar API' : 'Cadastro de API'"></h4>
        <form th:action="@{/apis/salvar}" th:object="${api}" method="post">
            <input type="hidden" th:field="*{id}">

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" th:field="*{nome}"
                        placeholder="Digite o nome da API" required>
                </div>
                <div class="col-md-6">
                    <label for="url" class="form-label">URL</label>
                    <input type="text" class="form-control" id="url" th:field="*{url}" placeholder="Insira a URL da API"
                        required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="agendador" class="form-label">Agendador</label>
                    <select class="form-select" id="agendador" th:field="*{agendador.id}">
                        <option th:each="agendador : ${agendadores}" th:value="${agendador.id}"
                            th:text="${agendador.tipo}"></option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="formato" class="form-label">Formato da API</label>
                    <select class="form-select" id="formato" th:field="*{formato.id}" required>
                        <option th:each="formato : ${formatos}" th:value="${formato.id}" th:text="${formato.nome}">
                        </option>
                    </select>
                    <small class="form-text text-muted">Selecione o tipo de arquivo retornado pela API REST
                        corretamente. A seleção incorreta pode desconfigurar a leitura.</small>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6 mb-3">
                    <label for="descricao" class="form-label">Descrição</label>
                    <textarea class="form-control" id="descricao" th:field="*{descricao}" placeholder="Descrição da API"
                        rows="4"></textarea>
                </div>

                <div class="col-md-6">
                    <br>
                    <label class="form-label">
                        Para que a API esteja ativa, deixe o checkbox "Ativa" marcado.
                    </label>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="ativo" th:field="*{ativo}" checked>
                        <label class="form-check-label" for="ativo"><strong>Ativa</strong></label>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="flex-grow-1"> 
                        <label for="tagSearchInput" class="form-label">Buscar Tags</label>
                        <input type="text" class="form-control" id="tagSearchInput" placeholder="Digite para buscar tags">
                        <div id="selected-tags" class="d-flex flex-wrap mt-2"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="tags" class="form-label">Tags</label>
                    <select id="tags" name="tagIds" class="form-select" multiple required onchange="updateSelectedTags()">
                        <option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.nome}" th:selected="${api.tags != null && api.tags.contains(tag)}">
                        </option>
                    </select>
                    <small class="form-text text-muted">Segure a tecla Ctrl (ou Command) para selecionar múltiplas opções.</small>
                </div>
            </div>  

            <div class="d-grid gap-2 col-2 mx-auto">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>

    <br>

    <div class="container mt-5">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>URL</th>
                        <th>Tags</th>
                        <th>Agendador</th>
                        <th style="width: 100px; text-align: left;">Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr th:each="api : ${apis}">
                        <td th:text="${api.id}"></td>
                        <td th:text="${api.nome}"></td>
                        <td th:text="${api.descricao}"></td>
                        <td th:text="${api.url}"></td>
                        <td>
                            <span th:if="${#lists.isEmpty(api.tags)}">Nenhuma Tag</span>
                            <span th:each="tag, iterStat : ${api.tags}">
                                <span th:text="${tag.nome}"></span>
                                <span th:if="${!iterStat.last}">, </span>
                            </span>
                        </td>
                        <td th:text="${api.agendador != null ? api.agendador.tipo : 'Sem Agendador'}"></td>
                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" th:checked="${api.ativo}"
                                    th:attr="data-id=${api.id}" onchange="toggleStatus(this)">
                                <label class="form-check-label" style="min-width: 75px;"
                                    th:text="${api.ativo ? 'Ativa' : 'Desativa'}"></label>
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-info" th:href="@{/apis/editar/{id}(id=${api.id})}">Editar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <footer class="bg-dark text-light py-4">
        <div class="container text-center">
            <p class="mb-0">© 2024 Porygon. Todos os direitos reservados.</p>
        </div>
    </footer>


    <script>

        const tagInput = document.getElementById('tagSearchInput');
        const tagSelect = document.getElementById('tags');
        const allTags = Array.from(tagSelect.options);

        // Escuta o input do usuário e filtra as tags
        tagInput.addEventListener('input', function() {
            const searchQuery = this.value.toLowerCase();
            tagSelect.innerHTML = ''; // Limpa as opções visíveis

            // Filtra as opções que começam com o texto digitado
            const filteredTags = allTags.filter(tag => tag.text.toLowerCase().startsWith(searchQuery));
            
            // Adiciona as opções filtradas de volta no select
            filteredTags.forEach(tag => {
                tagSelect.appendChild(tag);
            });
            updateSelectedTags();
        });
        function updateSelectedTags() {
            const select = document.getElementById('tags');
            const selectedTagsContainer = document.getElementById('selected-tags');
            selectedTagsContainer.innerHTML = ''; 

            Array.from(select.selectedOptions).forEach(option => {
                const chip = document.createElement('span');
                chip.classList.add('tag-chip');
                chip.textContent = option.text;

                const removeIcon = document.createElement('span');
                removeIcon.textContent = ' ✕';
                removeIcon.classList.add('remove-tag');
                removeIcon.onclick = function () {
                    option.selected = false;
                    updateSelectedTags();
                };

                chip.appendChild(removeIcon);
                selectedTagsContainer.appendChild(chip);
            });
        }

        document.addEventListener("DOMContentLoaded", updateSelectedTags);

        function showAlert(message, alertType = 'success') {
            const alertContainer = document.getElementById('alertContainer');
            const alertMessage = document.getElementById('alertMessage');

            alertMessage.textContent = message;
            alertContainer.classList.remove('alert-success', 'alert-danger', 'alert-warning', 'alert-info');
            alertContainer.classList.add(`alert-${alertType}`);

            alertContainer.style.display = 'block';

            setTimeout(() => {
                alertContainer.style.display = 'none';
            }, 3000);
        }

        document.querySelector('form').addEventListener('submit', function (event) {
            showLoading();
        });

        function showLoading() {
            document.getElementById('loadingOverlay').style.display = 'flex';
        }

        function hideLoading() {
            document.getElementById('loadingOverlay').style.display = 'none';
        }

        function esconderAlerta() {
            const alertSucesso = document.getElementById('alertSucesso');
            const alertErro = document.getElementById('alertErro');

            if (alertSucesso) {
                setTimeout(() => {
                    alertSucesso.style.display = 'none';
                }, 10000);
            }

            if (alertErro) {
                setTimeout(() => {
                    alertErro.style.display = 'none';
                }, 5000);
            }
        }
        window.onload = esconderAlerta;

        function toggleStatus(checkbox) {
            const apiId = checkbox.getAttribute('data-id');
            const isActive = checkbox.checked;
            const label = checkbox.nextElementSibling;

            label.textContent = isActive ? 'Ativa' : 'Desativa';

            fetch(`/apis/alterarStatus/${apiId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ ativo: isActive })
            })
                .then(response => {
                    if (!response.ok) {
                        alert("Erro ao alterar o status!");
                        checkbox.checked = !isActive;
                        label.textContent = !isActive ? 'Ativa' : 'Desativa';
                    }
                })
                .catch(error => {
                    alert("Erro na comunicação com o servidor!");
                    checkbox.checked = !isActive;
                    label.textContent = !isActive ? 'Ativa' : 'Desativa';
                });
        }

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>