<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Portal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Projeto</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/index}">Consulta de Notícias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/portais}">Cadastro de Portal<span class="sr-only">(atual)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h4 class="mb-4 text-center">Cadastro de Portal</h4>
        <form th:action="@{/portais/salvar}" th:object="${portal}" method="post">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" th:field="*{nome}" required>
                </div>
                <div class="col-md-6">
                    <label for="url" class="form-label">URL</label>
                    <input type="text" class="form-control" id="url" th:field="*{url}" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="seletorNoticia" class="form-label">Seletor de Notícia</label>
                    <input type="text" class="form-control" id="seletorNoticia" th:field="*{seletorNoticia}" required>
                </div>
                <div class="col-md-6">
                    <label for="agendador" class="form-label">Agendador</label>
                    <select class="form-select" id="agendador" th:field="*{agendador.id}">
                        <option th:each="agendador : ${agendadores}" th:value="${agendador.id}" th:text="${agendador.tipo}">Diário</option>
                    </select>
                </div>
            </div>
            <!-- <div class="mb-3">
                <label for="tags" class="form-label">Tags</label>
                <select id="tags" class="form-select" multiple th:field="*{tags}">
                    <option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.nome}"></option>
                </select>
                <small class="form-text text-muted">Segure a tecla Ctrl (ou Command) para selecionar múltiplas opções.</small>
            </div> -->
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="ativo" th:field="*{ativo}" checked>
                <label class="form-check-label" for="ativo">Ativo</label>
            </div>
            <button type="submit" class="btn btn-primary float-end">Salvar</button>
        </form>
    </div>


    <div class="container mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>URL</th>
                    <th>Agendador</th>
                    <!-- <th>Tags</th> -->
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="portal : ${portais}">
                    <td th:text="${portal.id}"></td>
                    <td th:text="${portal.nome}"></td>
                    <td th:text="${portal.url}"></td>
                    <td th:text="${portal.agendador != null ? portal.agendador.tipo : 'Sem Agendador'}"></td>
                    <!-- <td>
                        <span th:each="tag : ${portal.tags}" th:text="${tag.nome}" th:if="${!iterStat.last}">, </span>
                        <span th:text="${tag.nome}" th:if="${iterStat.last}"></span>
                    </td> -->
                    <td th:text="${portal.ativo ? 'Ativo' : 'Desativado'}"></td>
                    <td>
                        <a class="btn btn-warning" th:href="@{/portais/editar/{id}(id=${portal.id})}">Editar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
